# vim swap files
*.swp

# byte-compiled
*.pyc
__pycache__
.cache

# python virtual environment
# (virtualenv)
app/bin
app/include
app/lib

# pip log
app/pip-selfcheck.json

# auxiliary scripts
app/run.sh
app/deploy.sh

# deployment environment
app/deploy

# sphinx documentation
docs/build
docs/source
docs/_themes
