[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
dnspython = "*"

[dev-packages]
sphinxcontrib-napoleon = "*"
sphinx = "*"
gunicorn = "*"
requests = "*"

[requires]
python_version = "3.6"
